<!DOCTYPE html>
<html>
  <head>
    {{ if not .Site.BuildDrafts }}
    {{ template "_internal/google_analytics_async.html" . }}
    {{ end }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{ block "title" . }}
      {{ .Site.Title }}
      {{ end }}
    </title>
    {{ with .Keywords }}
    <meta content="{{ delimit . `, ` }}" name="keywords">
    {{ end }}
    {{ if .Description }}
    <meta name="description" property="og:description" content="{{ .Description }}|{{ .Site.Params.Description }}">
    {{ else if .IsPage }}
    <meta name="description" property="og:description" content="{{ .Summary | plainify }}|{{ .Site.Params.Description }}">
    {{ else }}
    <meta name="description" property="og:description" content="{{ .Site.Params.Description }}">
    {{ end }}

    <meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
    <!-- favicon & touch-icon -->
    {{ if .Site.Params.UseIcon }}
    <link rel="icon" href="/favicon-64.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="mask-icon" size="any" href="/pinned-icon.svg">
    {{ end }}
    <!-- Twitter Card -->
    {{ if .Site.Params.UseTwitterCard }}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ .Site.Params.Twitter }}">
    <meta name="twitter:creator" content="@{{ .Site.Params.Twitter }}">
    <meta name="twitter:title" content="{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}">
    <meta name="twitter:description" content="{{ .Description | default .Summary }}|{{ .Site.Params.Description }}">
    <meta name="twitter:image" content="{{ .Site.BaseURL }}twitter-card.png">
    {{ end }}

<link rel="stylesheet" href="{{ `assets/syntax.css` | relURL }}">
<link rel="stylesheet" href="{{ `assets/primer-build.css` | relURL }}">

{{ if eq .URL "/"}}
    <link rel="stylesheet" href="{{ `assets/style_index.css` | relURL }}">
{{else}}
    <link rel="stylesheet" href="{{ `assets/style.css` | relURL }}">
{{end}}
    
    
  </head>


  <body class="bg-gray">
    <div id="holy" class="container-lg bg-white h-100">

      <div id="header" class="px-1 bg-white">
        {{ partial "header.html" . }}
      </div>

      <div role="main" id="main" class="holy-main markdown-body px-4 bg-white">
        {{ block "main" . }}
        {{ end }}
      </div>

      <div id="side" class="pr-1 bg-white">
        <aside class="pr-3">
          {{ block "side" . }}
          <div id="toc" class="mb-3">
          </div>
          {{ end }}
        </aside>
      </div>

      <div id="footer" class="pt-2 pb-3 bg-white text-center">
        {{ partial "footer.html" . }}
      </div>
    </div>


    <!-- Scripts -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <!-- MathJax -->
    <script type="text/x-mathjax-config">MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });</script>
  </body>
</html>
