{{ define "title" }}
   {{ .Site.Title }} &ndash; {{ .Title }}
{{ end }}

{{ define "main" }}
<!-- list template -->

  <h1 style="padding-top:20px;padding-bottom:16px;">{{ .Title }}</h1>
  
  
  
  {{ .Content }}
  

<!-- 
  {{ range .Paginator.Pages }}
  <div>
    <div>
      <a href="{{ .URL }}">
        <h3>{{ .Title }}</h3>
      </a>
      <small>{{ .Permalink }}</small>
      {{ .Date.Format "2006-01-02" }}
    </div>
    {{ .Summary }}
  </div>
  {{ end }}

  {{ if gt .Paginator.TotalPages 1 }}
  <nav class="paginate-container">
    <div class="pagination">
      <ul>
        {{ if .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL }}" class="previous_page">Prev</a>
        {{ else }}
        <span class="previous_page disabled">Prev</span>
        {{ end }}

        {{ range .Paginator.Pagers }}
          <a href="{{ .URL }}">
            {{ .PageNumber }}
          </a>
        {{ end }}

        {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}" class="next_page">Next</a>
        {{ else }}
        <span class="next_page disabled">Next</span>
        {{ end }}
      </ul>
    </div>
  </nav>
  {{ end }}
-->


{{ end }}