<h2>1. Pattern maching</h2>
</div>

<ul>
  <li>Write a program for comparing the <a href="http://cs.bme.hu/thalg/patternmatching.pdf">simple matching and the quick search</a> algorithms!

    <ol>
      <li>The input for the program is given in a terminal command.
	<pre>
python3 1AdrianSmith.py text.text pattern
</pre>

	<p>The program reads the file <span style="font-family:monospace">text.text</span> and search for the first occurrence of the given <span style="font-family:monospace">pattern</span> in it. The command arguments can be read out from the inbuilt array <span style="font-family:monospace">sys.argv</span>:</p>

		<pre>
import sys

print(f'Filename: {sys.argv[1]}, pattern: {sys.argv[2]}')
print(f"The name of this program has {len(sys.argv[0]):2} characters")
</pre>

	<p>The <span style="font-family:monospace">sys.argv[0]</span>
	  contains the name of the program,
	  the <span style="font-family:monospace">len()</span>
	  function gives the length of
	  it. </li>
      <li>For reading a file use <a href="https://docs.python.org/3/tutorial/inputoutput.html">the file functions</a>, e.g.
	<pre>
with open(filename) as f:
    text = f.read().strip()
</pre>

	<p>The <span style="font-family:monospace">strip()</span>
	  method cut down the unnecessary starting and ending white
	  spaces.</p>
      </li>
      <li>In your program you do not need to check if the specified
	text file exists or whether it actually contains text. The
	pattern is always at most as long as the text. The text
	contains lowercase letters of the English
	alphabet <strong>a-z</strong> and spaces. There are only
	lowercase letters in the pattern, but no spaces. According to
	the algorithms, the program allows the comparison of
	a <strong>single character of the text and the
	pattern</strong>, but does not use the Python 3 string
	functions except
	the <span style="font-family:monospace">len()</span>
	function.</li>
      <li>Your program have to run the <em>simple matching</em> and
        the <em>quick search</em> algorithms with the given text and
        pattern. The output of the program specifies whether the
        pattern is in the text, at which character position and how
        many comparisons have been made to the <strong>first
        occurrence</strong>. Give 5 character space to the number of
        comparisons, and 4 character spaces to the position. The
        position number of the first character must be 1 (not 0). Use
        f-strings in printing the output! The output has to be look like this:
	<pre>
Simple search:  2610 comparisons, the pattern starts at 2321
Quick search:    270 comparisons, the pattern starts at 2321
</pre>

	<p>Specify the number of comparisons even if the pattern does
	  not appear in the text:</p> 

	<pre>
Simple search: 53610 comparisons, no pattern
Quick search:   5470 comparisons, no pattern
</pre>
      </li>
    </ol>
  </li>
  <li>If you use
    the <span style="font-family:monospace">end="..."</span> option in
    the <span style="font-family:monospace">print()</span> function,
    the output of the
    next <span style="font-family:monospace">print()</span> call will
    be continued in the same line.</li>
  <li>In Python 3 you may use special or accented lettes (e.g. you may
    write your name if it contains such letters of any language), but
    avoid such letters in the variable names, although it is
    possible.</li>
  <li>Try your program with the next downloadable text files and with
    the given patterns (of course in the test phase of your program,
    you may use your own very simple text files and patterns):
    <table border="2" cellpadding="6" cellspacing="0">
      <thead>
	<tr>
	  <th scope="col">File</th>
	  <th scope="col">Pattern</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td><a href="1.text">1.text</a></td>
	  <td>overscrupulous</td>
	</tr>
	<tr>
	  <td>1.text</td>
	  <td>zombies</td>
	</tr>
	<tr>
	  <td><a href="2.text">2.text</a></td>
	  <td>aaaaaaaaa</td>
	</tr>
	<tr>
	  <td>2.text</td>
	  <td>bbbbbbbbb</td>
	</tr>
	<tr>
	  <td>2.text</td>
	  <td>aaaaaaaab</td>
	</tr>
	<tr>
	  <td>2.text</td>
	  <td>aaaaaaaba</td>
	</tr>
      </tbody>
    </table>
  </li>
</ul>
